.Container {
  padding: 5px;
}

.DataGrid,
.Formularios,
.Grafico,
.Header,
.Footer,
.Card {
  background-color: #f9fefb;
  border-radius: 10px;

}

.Card{
  text-align: center;
  height: 100px;
}
.DataGrid {
  height: 300px;

}

.Formularios {
  padding: 5px;
  display: flex;
}

.Grafico {
  height: 286px;
  animation: mymove 2s;
}

.Header {
  height: 40px;
  text-align: center;
}

.Footer {
  height: 30px;
}

@keyframes mymove {
  from {background-color:#9Ebfc0;}
  to {background-color:#f9fefb;}
}
